.new-tweet {
  padding-top: 5rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tweet {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 5px;
  font-family: 'Bungee', cursive; 
}
.tweet button {
  padding: 5px 10px;
  background-color: #4056A1; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.new-tweet textarea {
  height: 220px;
  resize: none;
  border: none;
  background-color: #f4f1ec;
  border-bottom: 3px solid black;
  outline: none;
  height: 50px;
}